{% load wagtailimages_tags %}

<div class="container">

    <h1 class="text-center">{{ self.title }}</h1>

        <div class="card-group">
            {% for card in self.cards %}

            {% image card.image fill-300x200 as img %}

                <div class="card">
                <img src="{{ img.url }}" class="card-img-top" alt="{{ img.alt }}" style="background-image: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.text }}</p>
                    {% if card.button_page %}
                    <small>
                        <a class="btn btn-outline-dark" href="{{ card.button_page.url }}">Read More (internal)</a>
                    </small>
                    {% else %}
                    <small>
                    <a class="btn btn-outline-dark" href="{{ card.button_url }}">Read More (external)</a>
                    </small>
                    {% endif %}
                </div>
                </div>
            {% endfor %}
        </div>

</div>